<div class="page-header">
    <h1>Hash generator</h1>
</div>

<%= form_tag hash_generator_tools_url do %>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-right">
          <a class="btn btn-default clipboard-button" data-clipboard-target="#digested_text"><i class="fa fa-files-o"></i></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label for="initial_text">Text to convert</label>
          <%= text_area_tag :initial_text, @initial_text, :rows => 5, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= label_tag :type, 'Select algorithm' %>
          <%= select_tag :type, options_for_select([ 'SHA1', 'SHA256', 'SHA384', 'SHA512', 'RMD160', 'MD5' ], params[:type]), :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= submit_tag 'Generate', :class => 'btn btn-primary' %>
        </div>
      </div>
      
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label for="digested_text">Hash</label>
          <%= text_area_tag :digested_text, @digested_text, :rows => 5, :class => 'form-control' %>
        </div>
      </div>
    </div>
<% end %>
