<div class="page-header">
  <h1>Json beautifier</h1>
</div>

<%= form_tag json_beautifier_tools_url do %>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="form-group <%= 'has-error' if flash[:error] %>">
          <label for="initial_text">Text to beautify</label>
          <%= text_area_tag :initial_text, @initial_text, :rows => 15, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= submit_tag 'Generate', :class => 'btn btn-primary' %>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label>Formatted result</label>
          <pre><%= @final_text %></pre>
        </div>
      </div>
    </div>
<% end %>