<div class="page-header">
  <h1>Text Analysis</h1>
</div>

<p>
  All data and functionality here, are thanks to <strong><a href="https://github.com/arcanoid/text_analysis" target="_blank">this gem</a></strong>.
  <br><br>
</p>

<%= form_tag text_analysis_tools_url do %>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="initial_text">Text to analyze</label>
          <%= text_area_tag :initial_text, @initial_text, :rows => 15, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= submit_tag 'Analyze', :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>

<table class="table table-hover">
  <tr>
    <td><strong>Total characters</strong></td>
    <td><%= @analysis_hash.total_characters %></td>
  </tr>

  <tr>
    <td><strong>Total characters (without whitespaces)</strong></td>
    <td><%= @analysis_hash.total_characters_without_whitespaces %></td>
  </tr>

  <tr>
    <td><strong>Total words</strong></td>
    <td><%= @analysis_hash.total_words %></td>
  </tr>

  <tr>
    <td><strong>Stop words found</strong></td>
    <td><%= @analysis_hash.stop_words_found.join(', ') %></td>
  </tr>

  <tr>
    <td><strong>Not GSM compatible characters</strong></td>
    <td><%= @not_gsm_compatible_characters.compact.uniq.join(', ') %></td>
  </tr>
</table>

<div class="panel panel-default">
  <div class="panel-heading">Not compatible with GSM characters</div>
  <div class="panel-body">
    <table class="table table-hover">
      <% @not_gsm_compatible_characters.group_by { |x| x }.each do |character_group| %>
          <tr>
            <td><strong><%= character_group[0] %></strong></td>
            <td><%= character_group[1].size %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Most common words</div>
  <div class="panel-body">
    <table class="table table-hover">
      <% @analysis_hash.most_common_words.each do |stop_word| %>
          <tr>
            <td><strong><%= stop_word[:word] %></strong></td>
            <td><%= stop_word[:occurences] %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Most common non-stop words</div>
  <div class="panel-body">
    <table class="table table-hover">
      <% @analysis_hash.most_common_non_stop_words.each do |stop_word| %>
          <tr>
            <td><strong><%= stop_word[:word] %></strong></td>
            <td><%= stop_word[:occurences] %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>