<div class="page-header">
  <h1>Area conversion</h1>
</div>

<%= form_tag area_conversion_conversions_url do %>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="initial_text">Initial value</label>
          <%= text_field_tag :initial_text, @initial_text, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= label_tag :from, 'From' %>
          <%= select_tag :from,
                         options_for_select(area_units_for_select, @from),
                         :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= submit_tag 'Refresh', :class => 'btn btn-primary' %>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="form-group">
          <label for="final_text">Converted value</label>
          <%= text_field_tag :final_text, @final_text, :class => 'form-control', :readonly => true %>
        </div>

        <div class="form-group">
          <%= label_tag :to, 'To' %>
          <%= select_tag :to,
                         options_for_select(area_units_for_select, @to),
                         :class => 'form-control' %>
        </div>
      </div>
    </div>
<% end %>
