<div class="page-header">
  <h1>RoR gem dependencies graph</h1>
</div>

<p>
  All data and functionality here, are thanks to <strong><a href="https://github.com/arcanoid/gem_dependencies_visualizer" target="_blank">this gem</a></strong>.
  <br><br>
</p>

<%= form_tag gem_dependencies_visualizer_utilities_url do %>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="full_text">Gemfile content</label>
          <%= text_area_tag :full_text, @final_text, :rows => 10, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <label for="full_text">Gemfile.lock content</label>
          <%= text_area_tag :gemfile_lock, @gemfile_lock, :rows => 10, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <label for="graph_name">Graph name</label>
          <%= text_field_tag :graph_name, @graph_name, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= submit_tag 'Visualize', :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>


<% if @images.present? %>
    <h2>Existing graphs</h2>

    <% @images.in_groups_of(4, false) do |group| %>
        <div class="row">
          <% group.each do |image_url| %>
              <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                  <div class="caption">
                    <a href="<%= image_url.gsub("app/assets/images/", "#{root_url}assets/") %>" target="_blank">
                      <%= image_tag image_url.gsub("app/assets/images/", "") %>

                      <% image_info_array = image_url.split('/') %>
                      <div><%= image_info_array.last.gsub('.png', '') %></div>
                    </a>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>
<% end %>
