<div class="page-header">
  <h1>HTML validator</h1>
</div>

<%= form_tag html_validator_utilities_url do %>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="form-group <%= 'has-error' if @errors.present? %>">
          <label for="cc_number">HTML</label>
          <%= text_area_tag :text, @text, :rows => 20, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= submit_tag 'Check', :class => 'btn btn-primary' %>
        </div>
      </div>
      
      <% if @text.present? && !@errors.present? %>
        <div class="col-xs-12 col-md-6">
          <div class="form-group">
              <label>Formatted result</label>
              <div>
                <%= @text.html_safe %>
              </div>

              <p class="bg-info" style="padding: 10px; margin-top: 30px">
                Actual result will probably vary based on the styling of the actual application. Styling framework used here is <a href="http://getbootstrap.com/css/">Bootstrap</a>.
              </p>
          </div>
        </div>
      <% end %>

      
      <% if @text.present? && @errors.present? %>
        <div class="col-xs-12 col-md-6">
          <div class="form-group">
               <div class="row">
                  <div class="col-xs-6"><label class="text-danger">Some errors were discovered in the text - Suggested alternative</label></div>

                  <div class="col-xs-6">
                    <div class="text-right">
                      <a class="btn btn-default clipboard-button" data-clipboard-target="#full_text"><i class="fa fa-files-o"></i></a>
                    </div>
                  </div>

                  <div class="col-xs-12">
                    <pre id="full_text"><%= @doc.to_html(save_with: 0) %></pre>

                    <p class="bg-info" style="padding: 10px; margin-top: 30px">
                      Actual result will probably vary based on the styling of the actual application. Styling framework used here is <a href="http://getbootstrap.com/css/">Bootstrap</a>.
                    </p>
                  </div>          
              </div>
          </div>
        </div>
      <% end %>
    </div>

    <% if @errors.present? %>
        <div class="row">
          <div class="col-xs-12"><h3><i class="fa fa-times-circle text-danger"></i> Errors Noticed</h3></div>
        </div>

        <div class="row">
          <div class="col-xs-12"><hr /></div>

          <div class="col-xs-12">
            <table class="table table-bordered table-hover">
              <tr class="danger">
                <th><strong>Error</strong></th>
                <th><strong>Line</strong></th>
              </tr>

              <% @errors.each do |error| %>
                  <tr class="danger">
                    <td><%= error %></td>
                    <td><%= error.line %></td>
                  </tr>
              <% end %>
            </table>
          </div>
        </div>
    <% end %>
<% end %>

<script>
    var clipboard = new Clipboard('.clipboard-button');
</script>