<div class="page-header">
  <h1>QR code producer</h1>
</div>

<%= form_tag qr_code_producer_utilities_url do %>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label for="full_text">URL to include in qr image (for more than one split into lines)</label>
          <%= text_area_tag :full_text, @final_text, :rows => 5, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <label for="size">Image size (in pixels for both height and width)</label>
          <%= text_field_tag :size, (params[:size].presence || 200), :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= submit_tag 'Produce qr code', :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>

<% if @images.present? %>
    <h2>Existing codes</h2>

    <div class="row">
      <% @images.each do |image_url| %>
          <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
              <div class="caption">
                <a href="<%= image_url.gsub("app/assets/images/", "#{root_url}assets/") %>" target="_blank">
                  <%= image_tag image_url.gsub("app/assets/images/", "") %>
                </a>

                <% image_info_array = image_url.split('/') %>
                <div><%= image_info_array.last.gsub('.png', '') %></div>
                <div>Taken at: <%= Date.parse(image_info_array[image_info_array.size - 2]).strftime('%a %d %b %Y')  %></div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
<% end %>

