<%= form_tag rails_logs_visualizer_utilities_url do %>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="full_text">Full rails logs</label>
          <%= text_area_tag :full_text, @final_text, :rows => 19, :class => 'form-control' %>
        </div>

        <div class="checkbox">
          <label>
            <%= check_box_tag :rendered_partials, 'true', true %>Include rendered partials
          </label>
        </div>

        <div class="checkbox">
          <label>
            <%= check_box_tag :service_requests, 'true', true %>Include service requests (currently supported through httplog gem only)
          </label>
        </div>

        <div class="checkbox">
          <label>
            <%= check_box_tag :compiled_assets, 'true', true %>Include compiled assets
          </label>
        </div>

        <div class="form-group">
          <%= submit_tag 'Visualize', :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>


<% if @images.present? %>
    <h2>Existing graphs</h2>

    <% @images.in_groups_of(4, false) do |group| %>
        <div class="row">
          <% group.each do |image_url| %>
              <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                  <div class="caption">
                    <a href="<%= image_url.gsub("app/assets/images/", "#{root_url}assets/") %>" target="_blank">
                      <%= image_tag image_url.gsub("app/assets/images/", "") %>

                      <% image_info_array = image_url.split('/') %>
                      <div><%= image_info_array.last.gsub('.png', '') %></div>
                      <div>Taken at: <%= Date.parse(image_info_array[image_info_array.size - 2]).strftime('%a %d %b %Y')  %></div>
                    </a>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>
<% end %>
