<div class="page-header">
  <h1>Sample data</h1>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Address sample data</h3>
  </div>
  <% @address_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Basic sample data</h3>
  </div>
  <% @basic_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Credit card sample data</h3>
  </div>
  <% @credit_card_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Currency sample data</h3>
  </div>
  <% @currency_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Date sample data</h3>
  </div>
  <% @date_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Email sample data</h3>
  </div>
  <% @email_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Geographic sample data</h3>
  </div>
  <% @geo_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Internet sample data</h3>
  </div>
  <% @internet_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Monetary sample data</h3>
  </div>
  <% @monetary_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Personal sample data</h3>
  </div>
  <% @personal_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Lorem ipsum sample data</h3>
  </div>
  <% @lorem_ipsum_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>