<div class="page-header">
  <h1>Text sample data</h1>
</div>

<p>
  All data and functionality here, are thanks to <strong><a href="https://github.com/sevenwire/forgery" target="_blank">this gem</a></strong> and <strong><a href="https://github.com/stympy/faker" target="_blank">this gem</a></strong>.
  <br><br>
</p>

<div class="row">
  <div class="col-xs-12">
    <h3>Text sample data</h3>
  </div>
  <% @hacker_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12"><hr /></div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>App sample data</h3>
  </div>
  <% @app_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12"><hr /></div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Team sample data</h3>
  </div>
  <% @team_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12"><hr /></div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Emoji sample data</h3>
  </div>
  <% @emoji_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12"><hr /></div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Book sample data</h3>
  </div>
  <% @book_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12"><hr /></div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>University sample data</h3>
  </div>
  <% @university_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12"><hr /></div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Hipster sample data</h3>
  </div>
  <% @hipster_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12"><hr /></div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Lorem ipsum sample data</h3>
  </div>
  <% @lorem_ipsum_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12"><hr /></div>
</div>