<div class="page-header">
  <h1>User agent identifier</h1>
</div>

<p>
  All data and functionality here, are thanks to <strong><a href="https://github.com/fnando/browser" target="_blank">this gem</a></strong>.
  <br><br>
</p>

<%= form_tag user_agent_identifier_web_resources_url do %>
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="form-group <%= 'has-error' if flash[:error] %>">
          <label for="cc_number">User agents list (line separated)</label>
          <%= text_area_tag :user_agents, (@user_agents.map { |user_agent| user_agent.ua }.join("\n") if @user_agents.present?), :rows => 5, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= submit_tag 'Analyze', :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>

<% if @user_agents.present? %>
    <%
       bot_user_agents = @user_agents.select { |user_agent| user_agent.bot? }
       mobile_user_agents = @user_agents.select { |user_agent| user_agent.device.mobile? }
       tablet_user_agents = @user_agents.select { |user_agent| user_agent.device.tablet? }
       other = @user_agents.reject { |user_agent| user_agent.bot? || user_agent.device.mobile? || user_agent.device.tablet? }
    %>

    <% if bot_user_agents.size > 0 %>
        <div class="page-header">
          <h3>User agents identified as bots</h3>
        </div>

        <table class="table table-hover">
          <% bot_user_agents.each_with_index do |user_agent, index| %>
              <tr>
                <th></th>
                <th>User agent</th>
                <th>Bot name</th>
                <th>Device</th>
                <th>Platform</th>
                <th>Search engine?</th>
              </tr>

              <tr>
                <td><strong><%= index + 1 %></strong></td>
                <td><%= user_agent.ua %></td>
                <td><%= user_agent.bot.name %></td>
                <td><%= user_agent.device.name %></td>
                <td><%= user_agent.platform.name %></td>
                <td><%= user_agent.bot.search_engine? %></td>
              </tr>
          <% end %>
        </table>
    <% end %>

    <% if mobile_user_agents.size > 0 %>
        <div class="page-header">
          <h3>User agents identified as mobile</h3>
        </div>

        <table class="table table-hover">
          <% mobile_user_agents.each_with_index do |user_agent, index| %>
              <tr>
                <th></th>
                <th>User agent</th>
                <th>Detected properly?</th>
                <th>Device</th>
                <th>Platform</th>
              </tr>

              <tr>
                <td><strong><%= index + 1 %></strong></td>
                <td><%= user_agent.ua %></td>
                <td><%= user_agent.known? %></td>
                <td><%= user_agent.device.name %></td>
                <td><%= user_agent.platform.name %></td>
              </tr>
          <% end %>
        </table>
    <% end %>

    <% if tablet_user_agents.size > 0 %>
        <div class="page-header">
          <h3>User agents identified as tablets</h3>
        </div>

        <table class="table table-hover">
          <% tablet_user_agents.each_with_index do |user_agent, index| %>
              <tr>
                <th></th>
                <th>User agent</th>
                <th>Detected properly?</th>
                <th>Device</th>
                <th>Platform</th>
              </tr>

              <tr>
                <td><strong><%= index + 1 %></strong></td>
                <td><%= user_agent.ua %></td>
                <td><%= user_agent.known? %></td>
                <td><%= user_agent.device.name %></td>
                <td><%= user_agent.platform.name %></td>
              </tr>
          <% end %>
        </table>
    <% end %>

    <% if other.size > 0 %>
        <div class="page-header">
          <h3>Other</h3>
        </div>

        <table class="table table-hover">
          <% other.each_with_index do |user_agent, index| %>
              <tr>
                <th></th>
                <th>User agent</th>
                <th>Detected properly?</th>
                <th>Device</th>
                <th>Platform</th>
              </tr>
              <tr>
                <td><strong><%= index + 1 %></strong></td>
                <td><%= user_agent.ua %></td>
                <td><%= user_agent.known? %></td>
                <td><%= user_agent.device.name %></td>
                <td><%= user_agent.platform.name %></td>
              </tr>
          <% end %>
        </table>
    <% end %>
<% end %>